body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(92, 189, 189);
    
   
    
}



header{
    background-color: rgba(38, 145, 194, 0.803);
    
   

}


.container{
    width: 80%;
    margin: 0 auto;
}


.navbar{
    width:auto;
    display:flex;
    align-items: justify;
    margin:0px;
    padding:0px;
    border-radius:10px;
    
}
nav{
    flex:1;
    text-align:center;
}

nav ul li{
    float:left;
    list-style: none;
     margin-right: 40px;
    position: relative;
    
   
}
nav ul li a{
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(26, 66, 64);
    font-size: 14px;
    padding: 20px 14px;
  
    

}
nav ul li ul{
   display:none;
   position:absolute;
   background-color:rgb(66, 121, 121);
   padding:10px;
   border-radius: 0px 0px 4px 4px;
  

}
nav ul li:hover ul {
    display:block;
   
   
 
 }
nav ul li ul li{
    width:180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding: 8px 14px;
  
}
nav ul li a:hover{
    color:blue;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
    
}

.wrapper{ 
    margin:0 auto ; /*top right bottom left */
    width: 1000px;



}

@media (max-width: 600px){
    section{
        -webkit-flex-direction:column;
        flex-direction:column;

    }
}

.firstsect{
    display:block;
    background-color:rgb(10, 48, 48);
    height: 260px;
}


.firsthalf{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}


.title{
    position: relative;
    box-sizing: border-box;
    border:4px solid #000;
    text-align: center;
    font-size:xx-large;
    color: black;
    background: rgb(170, 71, 170);
    
}


.event-container{
    font-family: Verdana, sans-serif;
    max-width: 800px;
    margin:0 auto;


}
.event-container h3.year{
    font-size:40px;
    text-align:center;
    border-bottom:3px dotted #b1b1b1;
}
.event-container .event{
    box-shadow:0 4px 16px -8px rgba(0,0,0,0.4);
    display: flex;
    border-radius:8px;
    margin:32px 0;

}
.event .event-left{
    background: #222;
    min-width:82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#eee;
    padding:8px 48px;
    font-weight:bold;
    text-align:center;
    border-radius:8px 0 0 8px;
}
.event .event-left .date{
    font-size:48px;
}
.event .event-left .month{
    font-size:16px;
    font-weight:normal;
}
.event .event-right{
    flex-direction:column;
    justify-content:center;
    padding:0 24px;
}
.event .event-right h3.event-title{
    font-size:24px;
    margin:24px 0 10px 0;
    color:rgb(141, 6, 208);
    text-transform: uppercase;
}
.event .event-right .event-timing{
    background:rgb(150, 77, 77);
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    padding:8px;
    border-radius:16px;
    margin:24px 0;
    font-size:14px;

}
.event .event-right .event-timing img{
    height:40px;
    padding-right:8px;
}

@media (max-width: 550px) {
    .event{
        flex-direction:column;
    }
    .event .event-left{
        padding:0;
        border-radius:8px 8px 0 0;

    }
    .event .event-left .event-date .date,
    .event .event-left .event-date .month{
        display:inline-block;
        font-size:24px;
    }
    .event .event-left .event-date{
        padding:10px 0;
    }
}